.progress {
    height: 20px;
    margin-bottom: 20px;
}

.progress-bar {
    transition: width 1s;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}